* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Helvetica", sans-serif;
  color: #222;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.info-bg {
  background: #122ab2;
  color: #fff;
}
.info-bg a {
  color: #fff;
}
.info-bg .container-general-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px;
  font-size: 1rem;
}
.info-bg .container-general-info p,
.info-bg .container-general-info a {
  margin: 10px 10px 10px 10px;
}

.menu-bg {
  background: #2c70ff;
}
.menu-bg .menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.menu-bg .menu .logo-brand a {
  color: #fff;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
}
.menu-bg .menu nav ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
}
.menu-bg .menu nav ul li a {
  display: block;
  color: #fff;
  padding: 10px;
}
.menu-bg .menu nav ul li a:hover {
  color: #122ab2;
}

.introduction {
  font-size: 3rem;
  font-weight: bold;
  padding: 60px 10px;
  margin: 0 auto;
  line-height: 1;
  max-width: 960px;
}

#about {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}
#about .about-description {
  flex: 2 1 300px;
  margin: 0 10px;
}
#about .about-description h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
#about .about-description p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
  margin-bottom: 1.25rem;
}
#about .about-img {
  flex: 1 1 160px;
  margin: 0 10px;
}
#about .about-img img {
  margin-right: 10px;
  flex: 1 1 160px;
}

#product {
  max-width: 960px;
  margin: 60px auto;
}
#product h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 10px 60px 10px;
}
#product .product-container {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
#product .product-container .product {
  margin: 10px;
  flex: 1 1 175px;
}
#product .product-container .product h2 {
  font-size: 3rem;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
  font-weight: bold;
}
#product .product-container .purple {
  border-top: 8px solid #ae81ff;
}
#product .product-container .pink {
  border-top: 8px solid #f9265e;
}
#product .product-container .blue {
  border-top: 8px solid #66d9eb;
}

#price {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background: #f7f7f7;
  padding: 60px;
}
#price .price-container {
  padding: 20px;
  margin: 10px;
  border: 4px solid #fff;
  flex: 1;
}
#price .price-container h1 {
  font-size: 3rem;
  text-align: center;
  color: #a4a4a4;
  margin-top: 20px;
  font-weight: bold;
}
#price .price-container span {
  display: block;
  max-width: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin: 20px auto;
  padding: 10px 0 5px 0;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}
#price .price-container span sup {
  font-size: 1.5rem;
}
#price .price-container ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25rem;
  font-style: italic;
  color: #7c7c7c;
}
#price .price-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
#price .price-container li::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #2c60ff;
  display: block;
}
#price .price-container a {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 2.25rem;
  text-transform: uppercase;
  border: 4px solid;
  color: #222;
  max-width: 300px;
  margin: 20px auto;
  padding: 15px 0;
}

#quality {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 60px auto;
}
#quality .quality-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}
#quality .quality-item h2 {
  font-size: 2.25rem;
  color: #a4a4a4;
  margin-bottom: 20px;
  font-weight: bold;
}
#quality .quality-item h2::before {
  content: "";
  width: 8px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
}
#quality .quality-item:nth-of-type(3n + 1) h2::before {
  background: #ae81ff;
}
#quality .quality-item:nth-of-type(3n + 2) h2::before {
  background: #f9265e;
}
#quality .quality-item:nth-of-type(3n + 3) h2::before {
  background: #66d9eb;
}
#quality .quality-item p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}

#news-letter {
  display: flex;
  flex-wrap: wrap;
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
}
#news-letter .newsletter-info {
  flex: 1 1 260px;
  margin: 0 10px;
}
#news-letter .newsletter-info h1 {
  font-size: 3rem;
  color: #a4a4a4;
  font-weight: bold;
}
#news-letter .newsletter-info p {
  font-size: 1.25rem;
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
  margin-bottom: 10px;
}
#news-letter .newsletter-form-container {
  display: flex;
  flex-wrap: wrap;
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
}
#news-letter .newsletter-form-container input {
  flex: 3 1 200px;
  font-size: 1.25rem;
  color: #7c7c7c;
  font-style: italic;
  font-family: "Nunito", "Helvetica", sans-serif;
  border: 3px solid #2c70ff;
  background: transparent;
  padding: 15px 10px;
  border-radius: 0px;
}
#news-letter .newsletter-form-container input:focus,
#news-letter .newsletter-form-container input select:focus {
  outline: 0;
}
#news-letter .newsletter-form-container button {
  flex: 1 1 200px;
  font-size: 2.25rem;
  font-family: "Nunito", "Helvetica", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: #2c70ff;
  border: 3px solid #2c70ff;
  color: #fff;
  padding: 15px 10px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
